<!DOCTYPE html>
<html>
<head>
<title>
	Andela Document Management System
</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="test.css"/>
</head>
<body>
	<div class="container">
		<h1 id="header">Document Management System(DMS)</h1>
		<div>
 		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="/login">Dashboard</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a><%=user%></a></li>
    			</ul>
    			<a href="/logOut"><button class="btn btn-danger navbar-btn">Log out</button></a>
  			</div>
		</nav>
		</div>
		<div>
			<div>Document Succesfully Added!</div>
			<div>Document Details:</div>
			<ul class="group-list">
					<li class="list-group-item">Title: <%=documentAdded.title%></li>
					<li class="list-group-item">Link(Url): <%=documentAdded.url%></li>
					<li class="list-group-item">Department: <%=documentAdded.department%></li>
			</ul>
		</div>
	<p id="footer">Andela &copy 2017</p>
	</div>
</body>
</html>