
#header						{padding-bottom: 50px;}
#form						{background-color: #EEEED1;border-radius: 10px;}
form 						{margin: 5px;}
#formTitle					{text-align: center;}
@media screen and (min-width: 750px){
		#form				{width: 50%;margin: 0px auto 0px auto;}
}
#footer						{text-align: center;padding-top: 50px;}
#errorList					{list-style-type: none;color: red;}
#documentDisplay			{text-align: center;}
.row						{margin-bottom: 2px;}
#searchForm 				{text-align:left}
#user						{color: green;font-weight: bold;}
#confirmMsg					{text-align: center;}
#noResult					{text-align: center;color: red;}
table tbody tr td 			{font-size: 12px}
#signupredirect				{text-align: center;}
.col-xs-2					{text-align: right;}
.logout						{text-align: left;}
.navbar						{background-color: #2b2c2c}